## jkoolit 
# hardlinks
jkoolit/.config/rofi/.current_wallpaper
jkoolit/.config/waybar/config
jkoolit/.config/waybar/style.css
#
#dynamically generated (eg: on wallpaper change by wallust)
jkoolit/.config/hypr/wallpaper_effects/.wallpaper_current
jkoolit/.config/hypr/wallust/wallust-hyprland.conf
jkoolit/.config/kitty/kitty-themes/01-Wallust.conf
jkoolit/.config/rofi/wallust/colors-rofi.rasi
jkoolit/.config/waybar/wallust/colors-waybar.css

# vim
*.swp

#qutebrowser
qutebrowser/.config/qutebrowser/bookmarks
qutebrowser/.config/qutebrowser/quickmarks
qutebrowser/.config/qutebrowser/dracula
qutebrowser/.config/qutebrowser/autoconfig.yml
qutebrowser/.config/qutebrowser/qsettings

#nvim
plugin
lazy-lock.json

#awesomeWM
awesome-wm-widgets

#tmux
tmux/.config/tmux/plugins
