# vim
*.swp

#qutebrowser
qutebrowser/.config/qutebrowser/bookmarks
qutebrowser/.config/qutebrowser/quickmarks
qutebrowser/.config/qutebrowser/dracula
qutebrowser/.config/qutebrowser/autoconfig.yml
qutebrowser/.config/qutebrowser/qsettings

#nvim
plugin
lazy-lock.json

#awesomeWM
awesome-wm-widgets
